html,
h1,
h2 {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
  }

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 50px;
  text-align: center;
  }

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
    background-color: #525252;
  }

html {
    color: #ffffff;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #ffffff;
    text-shadow: 3px 3px 1px black;
}

h1 {
    width: 1100px;
    margin: 0 auto;
    background-color: #888888;
    padding: 0 20px 20px 20px;
}
  
h2 {
    text-shadow: 3px 3px 1px black;
}  
  
#factors {
    color: red;
}

html {
    font-size: 30px;
}

#drivingQuestion {
   font-size: 35px;
}